#container {
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

body {
    background: #333;
}

#timer {
    color: #f00;
    font-size: 50px;
    margin: 10px auto;
    border: 5px solid red;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

#time {
    margin-top: 70px;
    z-index: 1;
    position: relative;
}

#filler {
    background: #ddffcc;
    height: 0;
    width: 200px;
    position: absolute;
    bottom: 0;
}

#buttons button {
    background: #4da6ff;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 5px;
    width: 90px;
    margin: 10px auto;
    font-size: 14px;
    height: 50px;
    border-radius: 50px;
}

#buttons button#shortBreak {
    background: #0c0;
}

#buttons button#longBreak {
    background: #080;
}

#buttons button#stop {
    background: #f00;
}