<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org" lang="en">
<head th:fragment="header">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link th:href="@{webjars/bootstrap/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{webjars/noty/lib/noty.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{webjars/font-awesome/5.0.10/web-fonts-with-css/css/fontawesome-all.css}" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{css/styles.css}" rel="stylesheet" type="text/css"/>

    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
</body>
</html>