<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Work!</title>
    <div th:replace="fragments/header :: header"></div>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark" th:fragment="navbar">
    <div sec:authorize="isAuthenticated()">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <a class="navbar-brand" href="#" th:href="@{/}">PomoApp</a>

    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-sm-0">
            <div sec:authorize="isAuthenticated()">
                <li class="nav-item" id="navbar-timer">
                    <a class="nav-link" href="#" th:href="@{/}">Timer</a>
                </li>
            </div>
            <div sec:authorize="isAuthenticated()">
                <li class="nav-item" id="navbar-log">
                    <a class="nav-link" href="#" th:href="@{/log}">Log</a>
                </li>
            </div>
            <div sec:authorize="isAuthenticated()">
                <li class="nav-item" id="navbar-profile">
                    <a class="nav-link" href="#" th:href="@{/profile}">Profile</a>
                </li>
            </div>
        </ul>
        <form class="form-inline my-2 my-sm-0" id="logoutForm" method="POST" action="#" th:action="@{/logout}">
            <input type="hidden" name="" th:name="${_csrf.parameterName}" value="" th:value="${_csrf.token}"/>
            <div class="row">
                <div id="logoutBtnGroup" class="col">
                    <div class="btn-group pull-right" role="group">
                        <div sec:authorize="isAuthenticated()">
                            <button id="logout" class="btn btn-danger" type="submit" aria-label="Logout">
                                Logout
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</nav>
</body>
</html>