<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Log in with your account</title>

    <div th:replace="fragments/header :: header"></div>
</head>
<body>
<div th:replace="fragments/navbar::navbar"></div>
<div class="container login-register-container center-block text-center">
    <form method="POST" action="#" th:action="@{/login}" class="form-signin">
        <h2 class="form-heading">Log in</h2>
        <h2 class="form-heading">ci works</h2>
        <span class="has-error" th:text="${errorMessage} "></span>
        <input name="username" type="text" class="form-control" placeholder="Username"
               th:autofocus="${param.username==null}" th:value="${param.username}"/>
        <input name="password" type="password" class="form-control" placeholder="Password"
               th:autofocus="${param.username!=null}"/>
        <input type="hidden" name="" th:name="${_csrf.parameterName}" value="" th:value="${_csrf.token}"/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
        <h4 class="text-center">
            <a href="registration.html" th:href="@{/registration}">Create an account</a>
        </h4>
        <h4 class="text-center" style="font-size: 16px">
            <a href="forgotPassword.html" th:href="@{/forgot}">Forgot my password</a>
        </h4>
    </form>
</div>
</body>
</html>
