<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org " lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Log in with your account</title>

    <link href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link href="../static/css/styles.css" th:href="@{css/styles.css}" rel="stylesheet" type="text/css"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="pomodoro-app">
    <div class="container-fluid myContainer">
        <div class="row" style="text-align: center;">
            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-4">
                        <button id="decreaseDuration" class="btn pl-min-btns">-</button>
                    </div>
                    <div class="col-xs-4">
                        <h3 id="duration" style="color:white; padding: 0 10px 0 10px;">25</h3>
                    </div>
                    <div class="col-xs-4">
                        <button id="increaseDuration" class="btn pl-min-btns">+</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-6" style="align-items: left">
                <div class="row">
                    <div class="mx-auto row">
                        <div class="col-xs-4">
                            <button id="decreaseDurationBrake" class="btn pl-min-btns">-</button>
                        </div>
                        <div class="col-xs-4">
                            <h3 id="durationBreak" style="color:white; padding: 0 10px 0 10px;">5</h3>
                        </div>
                        <div class="col-xs-4">
                            <button id="increaseDurationBrake" class="btn pl-min-btns">+</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="timer">
            <div id="time">
                <span id="minutes">25</span>
                <span id="colon">:</span>
                <span id="seconds">00</span>
            </div>
            <div id="filler"></div>
        </div>

        <div class="row" id="buttons">
            <button id="work">Work</button>
            <button id="shortBreak">Short Break</button>
            <button id="longBreak">Long Break</button>
            <button id="stop">Stop</button>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
<script src="../static/js/app.js" th:src="@{js/app.js}"></script>


</body>
</html>