<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Log</title>
    <div th:replace="fragments/header :: header"></div>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/navbar::navbar"></div>
<div class="log-page-container">
    <div class="row">
        <div class="col text-style">
            <h4>select date</h4>
        </div>
        <div class="col" style="padding-bottom: 20px">
            <div id="reportrange" class="pull-right">
                <i class="far fa-calendar-alt"></i>&nbsp;
                <span></span> <b class="caret"></b>
            </div>
        </div>
    </div>
    <div class="lol" style="background-color: #333; color: #eeeeee">
        <!--<div class="row">-->
            <!--<div class="col">Project Name</div>-->
            <!--<div class="col"></div>-->
            <!--<div class="col"></div>-->
            <!--<div class="col">Duration</div>-->
        <!--</div>-->
        <div class="pomo-log-table">
        </div>
        <div style="background-color: #414141">
            <div class="row">
                <div class="col"></div>
                <div class="col"></div>
                <div class="col">Overall</div>
                <div class="col durationElement"></div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<link href="../static/css/daterangepicker.css" th:href="@{css/daterangepicker.css}" rel="stylesheet"
      type="text/css"/>
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<script src="../static/js/log.js" th:src="@{js/log.js}"></script>
</body>
</html>