<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org " lang="en">
<head>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Work!</title>
    <div th:replace="fragments/header :: header"></div>
</head>
<body>

<div th:replace="fragments/navbar::navbar">

</div>

<div id="pomodoro-app">
    <div class="container-fluid myContainer">
        <div class="row" style="text-align: center;">
            <div class="col" style="align-items: center">
                <div class="row">
                    <div class="col">
                        <button id="decreaseDuration" class="btn pl-min-btns">-</button>
                    </div>
                    <div class="col">
                        <h3 id="duration" style="color:white; padding: 0 10px 0 10px;">25</h3>
                    </div>
                    <div class="col">
                        <button id="increaseDuration" class="btn pl-min-btns">+</button>
                    </div>
                </div>
            </div>
            <div class="col" style="align-items: center">
                <div class="row">
                    <div class="col">
                        <button id="decreaseDurationBrake" class="btn pl-min-btns">-</button>
                    </div>
                    <div class="col">
                        <h3 id="durationBreak" style="color:white; padding: 0 10px 0 10px;">5</h3>
                    </div>
                    <div class="col">
                        <button id="increaseDurationBrake" class="btn pl-min-btns">+</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="timer">
            <div id="time">
                <span id="minutes">25</span>
                <span id="colon">:</span>
                <span id="seconds">00</span>
            </div>
            <div id="filler"></div>
        </div>

        <div class="row" id="buttons">
            <button id="work">Work</button>
            <button id="shortBreak">Short Break</button>
            <button id="longBreak">Long Break</button>
            <button id="stop">Stop</button>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
<script src="../static/js/app.js" th:src="@{js/app.js}"></script>
</body>
</html>