<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org " lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Log</title>
    <div th:replace="fragments/header :: header"></div>
</head>
<body>
<div class="myContainer container-fluid">
    <table class="table table-hover" style="background-color: #333; color: #eeeeee">
        <thead class="thead-inverse">
        <tr>
            <th>Date Time</th>
            <th>Duration</th>
        </tr>
        </thead>
        <tr th:each="pomo : ${pomos}">
            <td th:text="${pomo.getFinishString()}"></td>
            <td class="durationElement" th:text="${pomo.getDurationString()}"></td>
        </tr>
        <tr style="background-color: #414141">
            <td>
                Overall
            </td>
            <td class="durationElement" th:text="${sumDuration}">

            </td>
        </tr>
    </table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</body>
</html>