<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Restore password</title>

    <div th:replace="fragments/header :: header"></div>
</head>
<body>
<div th:replace="fragments/navbar::navbar"></div>
<div class="container login-register-container center-block text-center">
    <form method="POST" action="/reset" th:action="@{/reset}" class="form-signin">
        <h2 class="form-heading">Enter new password</h2>
        <div class="p has-error" th:if="${errorMessage != null}" th:text="${errorMessage}"></div>
        <input name="resetToken" type="hidden" value="" th:value="${resetToken!=null ? resetToken : ''}"/>
        <input name="newPassword" type="password" class="form-control" placeholder="new password"
               autofocus="autofocus"/>
        <input name="confirmPassword" type="password" class="form-control" placeholder="confirm new password"/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
</div>
</body>
</html>
